{% extends 'base.html.twig' %}

{% block title "Edit client" %}

{% block body %}
    <div class="container" style="max-width: 540px">
        <h2>Modification d'un client</h2>
        {{ form_start(form)}}
        {{ form_row(form.name) }}
        <div class="d-flex gap-2">
            {{ form_row(form.phone) }}
            {{ form_row(form.email) }}
        </div>
        {{ form_row(form.address) }}
        <div class="d-flex gap-2">
            {{ form_row(form.zipcode) }}
            {{ form_row(form.city) }}
        </div>
        {{ form_end(form)}}
    </div>
{% endblock %}